<li class="box">
    <div class="stack stack--s">
        <div class="flag-object flag-object--top flag-object--nowrap">
            <div class="flag-object__body">
                <a href="#" class="chip chip--success">
                    <span class="chip__label">
                        {{ peopleCount }}
                    </span>
                    <span class="chip__content">
                        {{ tableNumbers }}
                    </span>
                </a>
            </div>
            <div class="flag-object__aside">
                <div class="badge badge--success">{{ status }}</div>
            </div>
        </div>
        <div class="flag-object flag-object--bottom">
            <div class="flag-object__body">
                <div class="cluster cluster--top">
                    <div class="stack stack--s">
                        <div class="stack stack--xs">
                            <div class="heading:xs">{{ name }}</div>
                            {% if phoneNumber is defined and phoneNumber is not empty or email is defined and email is not empty %}
                                <div class="cluster cluster--l">
                                    {% if phoneNumber is defined and phoneNumber is not empty %}
                                        <div class="cluster cluster--s">
                                            <svg class="color:secondary" width="14" height="14" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.7297 4.15321C10.3687 3.28133 9.41719 2.81727 8.50781 3.06571L4.38281 4.19071C3.56719 4.41571 3 5.15633 3 6.00008C3 17.597 12.4031 27.0001 24 27.0001C24.8438 27.0001 25.5844 26.4329 25.8094 25.6173L26.9344 21.4923C27.1828 20.5829 26.7187 19.6313 25.8469 19.2704L21.3469 17.3954C20.5828 17.0766 19.6969 17.297 19.1766 17.9391L17.2828 20.2501C13.9828 18.6891 11.3109 16.0173 9.75 12.7173L12.0609 10.8282C12.7031 10.3032 12.9234 9.42196 12.6047 8.65789L10.7297 4.15789V4.15321Z" />
                                            </svg>
                                            <div>
                                                {{ phoneNumber }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if email is defined and email is not empty %}
                                    <div class="cluster cluster--s">
                                        <svg class="color:secondary" width="14" height="14" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 6C10.0312 6 6 10.0312 6 15C6 19.9688 10.0312 24 15 24C15.8297 24 16.5 24.6703 16.5 25.5C16.5 26.3297 15.8297 27 15 27C8.37188 27 3 21.6281 3 15C3 8.37188 8.37188 3 15 3C21.6281 3 27 8.37188 27 15V16.5C27 18.9844 24.9844 21 22.5 21C21.1266 21 19.8937 20.3813 19.0687 19.4109C18 20.3953 16.5703 21 15 21C11.6859 21 9 18.3141 9 15C9 11.6859 11.6859 9 15 9C16.3078 9 17.5172 9.41719 18.5016 10.1297C18.7688 9.89531 19.1156 9.75 19.5 9.75C20.3297 9.75 21 10.4203 21 11.25V15V16.5C21 17.3297 21.6703 18 22.5 18C23.3297 18 24 17.3297 24 16.5V15C24 10.0312 19.9688 6 15 6ZM18 15C18 14.2044 17.6839 13.4413 17.1213 12.8787C16.5587 12.3161 15.7956 12 15 12C14.2044 12 13.4413 12.3161 12.8787 12.8787C12.3161 13.4413 12 14.2044 12 15C12 15.7956 12.3161 16.5587 12.8787 17.1213C13.4413 17.6839 14.2044 18 15 18C15.7956 18 16.5587 17.6839 17.1213 17.1213C17.6839 16.5587 18 15.7956 18 15Z"/>
                                        </svg>
                                        <div>
                                            {{ email }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {% if note is defined and note is not empty %}
                            <div>{{ note }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="flag-object__aside">
                <div class="cluster">
                    <button type="button" class="button button--small">Check-in</button>
                    <button type="button" class="button button--small">Annuleren</button>
                </div>
            </div>
        </div>
    </div>
</li>
