<li class="box">
    <div class="stack stack--small">
        <div class="flag-object flag-object--top flag-object--nowrap">
            <div class="flag-object__body">
                <a href="#" class="chip chip--success">
                    <span class="chip__label">
                        {{ peopleCount }}
                    </span>
                    <span class="chip__content">
                        {{ tableNumbers }}
                    </span>
                </a>
            </div>
            <div class="flag-object__aside">
                <div class="badge badge--success">{{ status }}</div>
            </div>
        </div>
        <div class="flag-object flag-object--bottom">
            <div class="flag-object__body">
                <div class="cluster cluster--top">
                    <div class="stack stack--small">
                        <div class="stack stack--tiny">
                            <div class="heading:xs">{{ name }}</div>
                            {% if phoneNumber is defined and phoneNumber is not empty or email is defined and email is not empty %}
                                <div>
                                    {{ phoneNumber }}
                                    {% if phoneNumber and email %}-{% endif %}
                                    {{ email }}
                                </div>
                            {% endif %}
                        </div>
                        {% if note is defined and note is not empty %}
                            <div>{{ note }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="flag-object__aside">
                <div class="cluster">
                    <button type="button" class="button button--small">Check-in</button>
                    <button type="button" class="button button--small">Annuleren</button>
                </div>
            </div>
        </div>
    </div>
</li>
